In [1]:
import pandas as pd
import sqlite3
import yfinance as yf
import time

In [2]:
#Need a list of stocks in the S&P 500

#Let's get data from wikipedia
#We only need the first table, which lists the 505 stocks in the index and includes their symbols
wiki_df = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0]

wiki_df[["Symbol","Security","CIK"]]

#List of dates to skip over (12/5/18 for the state funeral of George H.W. Bush)
SkipDates = ['2018-12-05','2022-02-17','2022-02-18','2022-02-19','2022-02-20','2022-02-21',
             '2022-02-22','2022-02-23','2022-02-24','2022-02-25','2022-02-26','2022-02-27','2022-02-28']

In [3]:
#connect to the S&P 500 database file and create an associated cursor
conn = sqlite3.connect("SP500_stats_5y.db")
c = conn.cursor()


c.execute("SELECT name FROM sqlite_master WHERE type='table' AND name='CompanyInfo'")
if len(c.fetchall()) == 0:
    #Using this if statement to make sure this only runs if the table doesn't exist already
    #create a table to hold company information for the S&P 500 stocks
    c.execute("""CREATE TABLE CompanyInfo(
                        CIK int,
                        Symbol text,
                        Name text,
                        Sector text,
                        Industry text,
                        PRIMARY KEY (Symbol)
                    )""")
    #commit this table to the database
    conn.commit()

In [4]:
def GetStockInfo(ind):
    
    SymbolStr = wiki_df['Symbol'][ind]
    CIK = wiki_df['CIK'][ind]
    
    tickval = yf.Ticker(SymbolStr.replace('.','-'))
    tickval.info
    
    
    if 'longName' in tickval.info:
        name = tickval.info['longName'].replace("'","").replace('^','')
    else:
        name = wiki_df['Security'][ind]
    if 'sector' in tickval.info:
        sector = tickval.info['sector'].replace("'","").replace('^','')
    else:
        sector = 'N/A'
    if 'industry' in tickval.info:
        industry = tickval.info['industry'].replace("'","").replace('^','')
    else:
        industry = 'N/A'
    
    info_str = str(CIK)+",'"+SymbolStr.replace('^','')+"','"+name+"','"+sector+"','"+industry+"'"
    c.execute("INSERT INTO CompanyInfo VALUES ("+info_str+")")
    conn.commit()
    
    #Now get archival trading info
    hist = tickval.history(period="61mo")

    
    print(str(i)+","+info_str+","+str(len(hist)-1))
    
    c.execute("SELECT name FROM sqlite_master WHERE type='table' AND name='"+SymbolStr.replace('.','_').replace('^','')+"_stats'")
    if len(c.fetchall()) == 0:
        #Using this if statement to make sure this only runs if the table doesn't exist already
        #create a table for daily stock statistics
        c.execute("""CREATE TABLE """+SymbolStr.replace('.','_').replace('^','')+"""_stats(
                            date_int int,
                            Date text,
                            Open float,
                            High float,
                            Low float,
                            Close float,
                            PRIMARY KEY (date_int)
                        )""")
        #commit this table to the database
        conn.commit()
    
    #just go to len(hist)-1 since the last entry is prone to nan values
    for j in range(len(hist)-1):
        Date = str(hist.index[j]).split()[0]
        if not Date in SkipDates:
            date_int = str(hist.index[j] - hist.index[0]).split()[0]
            Open = hist['Open'][j]
            High = hist['High'][j]
            Low = hist['Low'][j]
            Close = hist['Close'][j]

            stat_str = date_int+",'"+Date+"',"+str(Open)+","+str(High)+","+str(Low)+","+str(Close)
            #print(stat_str)

            c.execute("INSERT INTO "+SymbolStr.replace('.','_').replace('^','')+"_stats VALUES ("+stat_str+")")
            conn.commit()

In [5]:
c.execute("SELECT * FROM CompanyInfo")
companies_df = pd.DataFrame(c.fetchall(), columns = [x[0] for x in c.description])

companies_df

,CIK,Symbol,Name,Sector,Industry
0,66740,MMM,3M Company,Industrials,Conglomerates
1,91142,AOS,A. O. Smith Corporation,Industrials,Specialty Industrial Machinery
2,1800,ABT,Abbott Laboratories,Healthcare,Medical Devices
3,1551152,ABBV,AbbVie Inc.,Healthcare,Drug Manufacturers—General
4,815094,ABMD,"Abiomed, Inc.",Healthcare,Medical Devices
...,...,...,...,...,...
502,1682852,MRNA,"Moderna, Inc.",Healthcare,Biotechnology
503,1821825,OGN,Organon & Co.,Healthcare,Drug Manufacturers—General
504,1781335,OTIS,Otis Worldwide Corporation,Industrials,Specialty Industrial Machinery
505,813828,VIAC,Paramount Global,Communication Services,Entertainment
506,0,GSPC,SP500,N/A,N/A

In [6]:
Issues = []
for i in range(len(wiki_df)):
    if wiki_df['Symbol'][i] in list(companies_df['Symbol']):
        print("Already have "+wiki_df['Symbol'][i]+".")
    else:
        try:
            GetStockInfo(i)
        except Exception as e:
            Issues.append(wiki_df['Symbol'][i])
            print("Hmmm. Had some trouble with "+wiki_df['Symbol'][i]+".")
            print(e)

Already have MMM.
Already have AOS.
Already have ABT.
Already have ABBV.
Already have ABMD.
Already have ACN.
Already have ATVI.
Already have ADM.
Already have ADBE.
Already have ADP.
Already have AAP.
Already have AES.
Already have AFL.
Already have A.
Already have AIG.
Already have APD.
Already have AKAM.
Already have ALK.
Already have ALB.
Already have ARE.
Already have ALGN.
Already have ALLE.
Already have LNT.
Already have ALL.
Already have GOOGL.
Already have GOOG.
Already have MO.
Already have AMZN.
Already have AMCR.
Already have AMD.
Already have AEE.
Already have AAL.
Already have AEP.
Already have AXP.
Already have AMT.
Already have AWK.
Already have AMP.
Already have ABC.
Already have AME.
Already have AMGN.
Already have APH.
Already have ADI.
Already have ANSS.
Already have ANTM.
Already have AON.
Already have APA.
Already have AAPL.
Already have AMAT.
Already have APTV.
Already have ANET.
Already have AIZ.
Already have T.
Already have ATO.
Already have ADSK.
Already have AZO.
Already have AVB.
Already have AVY.
Already have BKR.
Already have BLL.
Already have BAC.
Already have BBWI.
Already have BAX.
Already have BDX.
Already have WRB.
Already have BRK.B.
Already have BBY.
Already have BIO.
Already have TECH.
Already have BIIB.
Already have BLK.
Already have BK.
Already have BA.
Already have BKNG.
Already have BWA.
Already have BXP.
Already have BSX.
Already have BMY.
Already have AVGO.
Already have BR.
Already have BRO.
Already have BF.B.
Already have CHRW.
Already have CDNS.
Already have CZR.
Already have CPB.
Already have COF.
Already have CAH.
Already have KMX.
Already have CCL.
Already have CARR.
Already have CTLT.
Already have CAT.
Already have CBOE.
Already have CBRE.
Already have CDW.
Already have CE.
Already have CNC.
Already have CNP.
Already have CDAY.
Already have CERN.
Already have CF.
Already have CRL.
Already have SCHW.
Already have CHTR.
Already have CVX.
Already have CMG.
Already have CB.
Already have CHD.
Already have CI.
Already have CINF.
Already have CTAS.
Already have CSCO.
Already have C.
Already have CFG.
Already have CTXS.
Already have CLX.
Already have CME.
Already have CMS.
Already have KO.
Already have CTSH.
Already have CL.
Already have CMCSA.
Already have CMA.
Already have CAG.
Already have COP.
Already have ED.
Already have STZ.
Already have CEG.
Already have COO.
Already have CPRT.
Already have GLW.
Already have CTVA.
Already have COST.
Already have CTRA.
Already have CCI.
Already have CSX.
Already have CMI.
Already have CVS.
Already have DHI.
Already have DHR.
Already have DRI.
Already have DVA.
Already have DE.
Already have DAL.
Already have XRAY.
Already have DVN.
Already have DXCM.
Already have FANG.
Already have DLR.
Already have DFS.
Already have DISCA.
Already have DISCK.
Already have DISH.
Already have DIS.
Already have DG.
Already have DLTR.
Already have D.
Already have DPZ.
Already have DOV.
Already have DOW.
Already have DTE.
Already have DUK.
Already have DRE.
Already have DD.
Already have DXC.
Already have EMN.
Already have ETN.
Already have EBAY.
Already have ECL.
Already have EIX.
Already have EW.
Already have EA.
Already have EMR.
Already have ENPH.
Already have ETR.
Already have EOG.
Already have EPAM.
Already have EFX.
Already have EQIX.
Already have EQR.
Already have ESS.
Already have EL.
Already have ETSY.
Already have RE.
Already have EVRG.
Already have ES.
Already have EXC.
Already have EXPE.
Already have EXPD.
Already have EXR.
Already have XOM.
Already have FFIV.
Already have FDS.
Already have FAST.
Already have FRT.
Already have FDX.
Already have FITB.
Already have FRC.
Already have FE.
Already have FIS.
Already have FISV.
Already have FLT.
Already have FMC.
Already have F.
Already have FTNT.
Already have FTV.
Already have FBHS.
Already have FOXA.
Already have FOX.
Already have BEN.
Already have FCX.
Already have AJG.
Already have GRMN.
Already have IT.
Already have GE.
Already have GNRC.
Already have GD.
Already have GIS.
Already have GPC.
Already have GILD.
Already have GL.
Already have GPN.
Already have GM.
Already have GS.
Already have GWW.
Already have HAL.
Already have HIG.
Already have HAS.
Already have HCA.
Already have PEAK.
Already have HSIC.
Already have HSY.
Already have HES.
Already have HPE.
Already have HLT.
Already have HOLX.
Already have HD.
Already have HON.
Already have HRL.
Already have HST.
Already have HWM.
Already have HPQ.
Already have HUM.
Already have HII.
Already have HBAN.
Already have IEX.
Already have IDXX.
Already have INFO.
Already have ITW.
Already have ILMN.
Already have INCY.
Already have IR.
Already have INTC.
Already have ICE.
Already have IBM.
Already have IP.
Already have IPG.
Already have IFF.
Already have INTU.
Already have ISRG.
Already have IVZ.
Already have IPGP.
Already have IQV.
Already have IRM.
Already have JBHT.
Already have JKHY.
Already have J.
Already have JNJ.
Already have JCI.
Already have JPM.
Already have JNPR.
Already have K.
Already have KEY.
Already have KEYS.
Already have KMB.
Already have KIM.
Already have KMI.
Already have KLAC.
Already have KHC.
Already have KR.
Already have LHX.
Already have LH.
Already have LRCX.
Already have LW.
Already have LVS.
Already have LDOS.
Already have LEN.
Already have LLY.
Already have LNC.
Already have LIN.
Already have LYV.
Already have LKQ.
Already have LMT.
Already have L.
Already have LOW.
Already have LUMN.
Already have LYB.
Already have MTB.
Already have MRO.
Already have MPC.
Already have MKTX.
Already have MAR.
Already have MMC.
Already have MLM.
Already have MAS.
Already have MA.
Already have MTCH.
Already have MKC.
Already have MCD.
Already have MCK.
Already have MDT.
Already have MRK.
Already have FB.
Already have MET.
Already have MTD.
Already have MGM.
Already have MCHP.
Already have MU.
Already have MSFT.
Already have MAA.
Already have MRNA.
Already have MHK.
Already have TAP.
Already have MDLZ.
Already have MPWR.
Already have MNST.
Already have MCO.
Already have MS.
Already have MOS.
Already have MSI.
Already have MSCI.
Already have NDAQ.
Already have NTAP.
Already have NFLX.
Already have NWL.
Already have NEM.
Already have NWSA.
Already have NWS.
Already have NEE.
Already have NLSN.
Already have NKE.
Already have NI.
Already have NDSN.
Already have NSC.
Already have NTRS.
Already have NOC.
Already have NLOK.
Already have NCLH.
Already have NRG.
Already have NUE.
Already have NVDA.
Already have NVR.
Already have NXPI.
Already have ORLY.
Already have OXY.
Already have ODFL.
Already have OMC.
Already have OKE.
Already have ORCL.
Already have OGN.
Already have OTIS.
Already have PCAR.
Already have PKG.
Already have PARA.
Already have PH.
Already have PAYX.
Already have PAYC.
Already have PYPL.
Already have PENN.
Already have PNR.
Already have PBCT.
Already have PEP.
Already have PKI.
Already have PFE.
Already have PM.
Already have PSX.
Already have PNW.
Already have PXD.
Already have PNC.
Already have POOL.
Already have PPG.
Already have PPL.
Already have PFG.
Already have PG.
Already have PGR.
Already have PLD.
Already have PRU.
Already have PEG.
Already have PTC.
Already have PSA.
Already have PHM.
Already have PVH.
Already have QRVO.
Already have PWR.
Already have QCOM.
Already have DGX.
Already have RL.
Already have RJF.
Already have RTX.
Already have O.
Already have REG.
Already have REGN.
Already have RF.
Already have RSG.
Already have RMD.
Already have RHI.
Already have ROK.
Already have ROL.
Already have ROP.
Already have ROST.
Already have RCL.
Already have SPGI.
Already have CRM.
Already have SBAC.
Already have SLB.
Already have STX.
Already have SEE.
Already have SRE.
Already have NOW.
Already have SHW.
Already have SBNY.
Already have SPG.
Already have SWKS.
Already have SJM.
Already have SNA.
Already have SEDG.
Already have SO.
Already have LUV.
Already have SWK.
Already have SBUX.
Already have STT.
Already have STE.
Already have SYK.
Already have SIVB.
Already have SYF.
Already have SNPS.
Already have SYY.
Already have TMUS.
Already have TROW.
Already have TTWO.
Already have TPR.
Already have TGT.
Already have TEL.
Already have TDY.
Already have TFX.
Already have TER.
Already have TSLA.
Already have TXN.
Already have TXT.
Already have TMO.
Already have TJX.
Already have TSCO.
Already have TT.
Already have TDG.
Already have TRV.
Already have TRMB.
Already have TFC.
Already have TWTR.
Already have TYL.
Already have TSN.
Already have USB.
Already have UDR.
Already have ULTA.
Already have UAA.
Already have UA.
Already have UNP.
Already have UAL.
Already have UNH.
Already have UPS.
Already have URI.
Already have UHS.
Already have VLO.
Already have VTR.
Already have VRSN.
Already have VRSK.
Already have VZ.
Already have VRTX.
Already have VFC.
Already have VTRS.
Already have V.
Already have VNO.
Already have VMC.
Already have WAB.
Already have WMT.
Already have WBA.
Already have WM.
Already have WAT.
Already have WEC.
Already have WFC.
Already have WELL.
Already have WST.
Already have WDC.
Already have WRK.
Already have WY.
Already have WHR.
Already have WMB.
Already have WTW.
Already have WYNN.
Already have XEL.
Already have XYL.
Already have YUM.
Already have ZBRA.
Already have ZBH.
Already have ZION.
Already have ZTS.

In [7]:
c.execute("SELECT * FROM CompanyInfo")
companies_df = pd.DataFrame(c.fetchall(), columns = [x[0] for x in c.description])

companies_df

,CIK,Symbol,Name,Sector,Industry
0,66740,MMM,3M Company,Industrials,Conglomerates
1,91142,AOS,A. O. Smith Corporation,Industrials,Specialty Industrial Machinery
2,1800,ABT,Abbott Laboratories,Healthcare,Medical Devices
3,1551152,ABBV,AbbVie Inc.,Healthcare,Drug Manufacturers—General
4,815094,ABMD,"Abiomed, Inc.",Healthcare,Medical Devices
...,...,...,...,...,...
502,1682852,MRNA,"Moderna, Inc.",Healthcare,Biotechnology
503,1821825,OGN,Organon & Co.,Healthcare,Drug Manufacturers—General
504,1781335,OTIS,Otis Worldwide Corporation,Industrials,Specialty Industrial Machinery
505,813828,VIAC,Paramount Global,Communication Services,Entertainment
506,0,GSPC,SP500,N/A,N/A

In [8]:
#Clean out any troublesome entries so the script can be re-run if needed to finish filling in entries
for BadSymbol in Issues:
    print("Cleaning out entries for "+BadSymbol)
    c.execute("SELECT name FROM sqlite_master WHERE type='table' AND name='"+BadSymbol.replace('.','_')+"_stats'")
    if len(c.fetchall()) > 0:
        c.execute("DROP TABLE "+BadSymbol.replace('.','_')+"_stats;")
        conn.commit()
    c.execute("DELETE FROM CompanyInfo WHERE Symbol='"+BadSymbol.replace('.','_')+"';")
    conn.commit()